useDynLib(basad, .registration = TRUE)
importFrom(Rcpp, evalCpp)
importFrom(rmutil, dlaplace)
importFrom("stats", "dnorm", "dt", "lm", "qnorm", "uniroot")
importFrom("stats", "lm.fit")

export(basad) 

S3method(print, basad)
S3method(predict, basad)
S3method(summary, basad)
S3method(coef, basad)
